@page
@model RoasterBuddy.Pages.Order.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.ClientId" class="control-label"></label>
                <select asp-for="Order.ClientId" class ="form-control" asp-items="ViewBag.ClientName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.Amount" class="control-label"></label>
                <input asp-for="Order.Amount" class="form-control" />
                <span asp-validation-for="Order.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Price" class="control-label"></label>
                <input asp-for="Order.Price" class="form-control" />
                <span asp-validation-for="Order.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RoastLevel" class="control-label"></label>
                <input asp-for="Order.RoastLevel" class="form-control" />
                <span asp-validation-for="Order.RoastLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.SourceId" class="control-label"></label>
                <select asp-for="Order.SourceId" class="form-control" asp-items="ViewBag.SourceName"></select>
                <span asp-validation-for="Order.SourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.DateOrdered" class="control-label"></label>
                <input asp-for="Order.DateOrdered" class="form-control" />
                <span asp-validation-for="Order.DateOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
