@page
@model RoasterBuddy.Pages.Order.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.ID" />

            <div class="form-group">
                <label asp-for="Order.ClientId" class="control-label"></label>
                <select asp-for="Order.ClientId" class="form-control" asp-items="ViewBag.ClientName as SelectList"></select>
                <span asp-validation-for="Order.ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.SourceId" class="control-label"></label>
                <select asp-for="Order.SourceId" class="form-control" asp-items="ViewBag.SourceName as SelectList"></select>
                <span asp-validation-for="Order.SourceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.RoastLevel" class="control-label"></label>
                <input asp-for="Order.RoastLevel" class="form-control" />
                <span asp-validation-for="Order.RoastLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Amount" class="control-label"></label>
                <input asp-for="Order.Amount" class="form-control" />
                <span asp-validation-for="Order.Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Price" class="control-label"></label>
                <input asp-for="Order.Price" class="form-control" />
                <span asp-validation-for="Order.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
