@page
@model RoasterBuddy.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <h2>RoasterBuddy</h2>

    <a asp-page="/Order/Create">Create a New Order</a> <br />
    <a asp-page="/Order/Index">View All Orders</a> <br />
    <a asp-page="/Client/Index">View Clients</a> <br />
    <a asp-page="/Source/Index">View Sources</a> <br />
    </table>
</div>
